@media screen and (max-width:768px) {
    html, body
    {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .icon-div, .link-div, .logo-div
    {
        display: none;
    }

    .logo-div-2
    {
        width: 100px;
        height: 90px;
        background-color: white;
    }

    .mobile
    {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: auto;
    }

    .bars
    {
        font-size: 25px;
    }

    .bars-div
    {
        margin-top: 20px;
    }

    .clip-div
    {
        height: 350px;
    }

    .clip
    {
       margin-top: -20%;
    }
 
    .first-set
    {
      width: 100%;
      flex-flow: wrap row;
      height: auto;
      margin-top: 15%; 
    }


    .second-set
    {
        flex-flow: wrap row;
        gap: 50px;
    }

     .third-set
      {
        width: 100%;
        flex-flow: wrap column;
        gap: 50px;
        align-items: center;
        justify-content: center;
      }

      .inter
      {
        width: 100%;
        flex-flow:wrap row;
        height: auto;
        gap: 10px;
      }

      .men1,.men2, .women1, .women2, .accessory, .accessory2
      {
        width: 150px; 
        border: none;
      }

      .clip-div
      {
        margin-bottom: 50%;
      }

      .collection
       {
          height: 350px;
          width: 250px;
          margin-left:10px;
          margin-top: -90%;
          padding: 15px;
       }

       
      .collection-span, .bttn
      {
        font-size: 40px;
      }

      .collection-span p
      {
        font-size: 16px;
      }
 
    .bttn
      {
         font-size: 20px;
      }

       .text h1
    {
        font-size: 35px;
    }











    .text p {
        width: 90%;
    }

    header h1
    {
        font-size: 25px;
    }

    header p span{
        font-size: 30px;
    }

    section .product{
        min-width: 49%;
        margin: 0 10px 0 0;
    }

    .detail, .button{
        font-size: 16px;
    }

    a
    {
        padding: 6px 10px;
    }

    section .carousel-product
    {
       /* min-width: 24%;
    height: 95%;
    background-color: white;
    margin: 0 20px 0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s;
    align-items: center;
    justify-content: center; */
    
      min-width: 80%;
      height: auto;
      margin-bottom: 15%;
    }

              
    .header-two
    {
        min-width: 100%;
        padding: 10px;
        justify-content: space-evenly;
    }


    #over-direction
    {
      width: 100px;
      height: 30px;
    }

    .header-two h1
    {
      font-size: 30px;
    }

        
    picture img{
        width: 80%;

    }
} 
 
